body{
margin: 50px;
background: #ffffff;
text-align: left;
font-family: "Roboto";
color: #171717;
}

p{
    font-family: "Arial";
    color: #171717;
    text-align: left;
}

h2{
    margin-top: 50px;

    font-family: "Arial";
    color: #3e3e3e;
    text-align: left;
}


h1{
    font-family: "Roboto";
    color: #171717;
    background-color: skyblue;
    text-align: center;
}
img {
    width: 25%;
    height: auto;
  }

div {
    /* I added this just for fun */
    
    color: white;
    font-family: Roboto;
    padding: 5px;
    text-align: center;

  }

 object {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;

}

styled-table {
    text-align: center;
}